<h1>Add your cat here</h1>
<form action="/cats/new" method="POST">
  <p><input type="text" name="name" placeholder="Name"></p>
  <p><input type="text" name="age" placeholder="Age"></p>
  <p><input type="text" name="color" placeholder="Color"></p>
  <button type="submit">Add</button>
</form>
