<h1>Add your cat here</h1>
<form action="/cats/new" method="POST">
  <p><input type="text" name="catName" placeholder="Name"></p>
  <p><input type="text" name="catAge" placeholder="Age"></p>
  <p><input type="text" name="catColor" placeholder="Color"></p>
  <button type="submit">Add</button>
</form>
