<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <h1>Miguel Garrido</h1>
  <img src="https://i.giphy.com/c00LLteGojGfDHZXur.gif">
</body>
</html>
